

{{ define "main" }}
<div class>
  <div class="bg-grey-100 text-gray-800 flex ">
    <!-- content -->
        <div class="py-8 px-28 text-lg">{{ .Content }}</div> 
    <!-- content -->
  </div>
</div>
{{ end }}