<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
        {{- partial "breadcrumb.html" . -}}
        
        {{block "main" . }}
        
        {{end}}
      
        {{- partial "footer.html" . -}}
    </body>
</html>
