{{ define "main" }}
{{- partial "hero.html" . -}}
<div class="bg-gray-600 text-gray-300 flex">
<!-- content -->
    <div class="py-8 px-28 text-lg">{{ .Content }}</div> 
<!-- content -->
</div>

<!-- lists cards -->
    {{- partial "cards.html" . -}}
<!-- lists cards -->

<!-- pagination -->
{{- partial "pagination.html" . -}}
<!-- pagination -->
{{ end }}
