{{ define "main" }}
{{- partial "hero.html" . -}}
<div class>
  <div class="bg-grey-100 text-gray-800 flex-col ">
    <!-- content -->
    <div class="py-8 px-28">
      {{ range .Params.tags }}
      <a
          href="{{"tags/" | absLangURL}}{{ .  | urlize }}">
          <span class="inline-block bg-blue-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2 hover:bg-blue-300">{{ . }}</span></a>
      {{ end }}
    </div>
    <div class="py-4 px-28 text-lg leading-relaxed text-justify space-y-6">{{ .Content }}</div> 
    <!-- content -->
  </div>
  <div>{{- partial "previous-next-pages.html" . -}}</div>

</div>
{{ end }}