{{ define "main" }}
	<!-- hero -->
    {{ with .Params.banner }}
    <!-- py-40 -->
<div class="flex w-full bg-cover bg-no-repeat bg-center h-80  " style="background-image: url({{ . | relURL}})">
  {{ end }}
    <div class="flex flex-wrap flex-end flex-col rounded-t ml-24 mt-44 bg-white opacity-70">
      <div>
        <h1 class="text-4xl font-bold px-4 py-4" >{{ .Title }}</h1>
      </div>
     
      <div> <p class="text-xl px-4 py-4"> </p></div>
    </div>
     
    </div>
</div>
<div class="bg-gray-600 text-gray-300 flex">
  <!-- content -->
      <div class="py-8 px-28 text-lg">{{ i18n "allTheTags" . }}</div> 
  <!-- content -->
</div >
<div>
<!-- lists cards -->
    {{- partial "cards.html" . -}}
<!-- lists cards -->

<!-- pagination -->
{{- partial "pagination.html" . -}}
<!-- pagination -->
</div>
{{ end }}
