<nav class=" nav-breadcrumb">
    <div class=" flex justify-between mx-32 items-center ">
        <div  class="flex items-center py-4">
            {{ template "breadcrumbnav" (dict "p1" . "p2" .) }}
       
        {{ define "breadcrumbnav" }}
        {{ if .p1.Parent }}
        {{ template "breadcrumbnav" (dict "p1" .p1.Parent "p2" .p2 )  }}
        {{ else if not .p1.IsHome }}
        {{ template "breadcrumbnav" (dict "p1" .p1.Site.Home "p2" .p2 )  }}
        {{ end }}     
        {{ if ne .p1 .p2 }}
            <div class="text-base pr-4">
            <a href="{{ .p1.Permalink }}">{{ .p1.Title }} </a>
            </div>
            <div class="text-lg pr-4 text-gray-400"> / </div>
        {{ end }}
        {{ if eq .p1 .p2 }}
            <div class="text-base font-semibold pr-4">
            <a href="{{ .p1.Permalink }}">{{ .p1.Title }}</a>
            </div>
        {{ end }}
        {{ end }}
    </div>
</nav>