
{{ $permalink := .RelPermalink }}
<div class="rounded overflow-hidden shadow-lg bg-white relative">
  {{ with .Params.banner }}
  <img class="w-full  max-h-56" src="{{ . | relURL}}">
  {{end}}
  <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2">{{ .Title }}</div>
    <p class="text-gray-700 text-base">
      {{ .Summary }} 
      {{ if .Truncated }}
        […]
      {{ end }}
    </p>
  </div>

  <div class="px-6 pt-4 pb-16">
    {{ range .Params.tags }}
    <a
        href="{{"tags/" | absLangURL}}{{ .  | urlize }}">
        <span class="inline-block bg-blue-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2 hover:bg-blue-300">{{ . }}</span></a>
    {{ end }}
  </div>
  <a href="{{ $permalink }}"> 
    <div  class="bg-gray-600 absolute inset-x-0 bottom-0 h-14 text-gray-200 hover:bg-gray-700 flex justify-center items-center ">
    <div> {{ i18n "readMore" }}</div>
  </div>
  </a>
  
</div>
