<!-- footer -->
<div class="bg-gray-400 w-full">
  <div class="px-4 py-4"> License CC BY NC SA 4.0. </div>
  <!-- /footer -->
</div>
{{ $js := resources.Get "css/menu.js" | js.Build "./assets/css/menu.js" }}
{{ if .Site.IsServer }}
  <script type="text/javascript" src="{{ $js.RelPermalink }}" defer></script>
{{ else }}
  {{ $js := $js | minify | fingerprint | resources.PostProcess }}
  <script type="text/javascript" src="{{ $js.Permalink }}" defer></script>
{{ end }}