<!-- nav -->


<nav class="nav-color">
  <div class=" flex justify-between mr-32 ml-28">
    <div class="flex items-center">
      <div class="py-4 mr-16 text-xl "><a href="{{ .Site.BaseURL }}">Portfolio</a></div>
      <div class="hidden md:flex items-center">
        
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        <div class="group inline-block py-4 px-4">
          <button class="outline-none focus:outline-none py-2 rounded-sm flex min-w-32">
            <span class="pr-1 text-base flex-1"><a class="hover:text-hovered-colors" href="{{ .URL | absLangURL }}">{{ .Name }}</a></span>
          </button>
          <ul class="bg-white border border-color rounded-sm transform scale-0 group-hover:scale-100 absolute 
 ease-in-out origin-top min-w-32">

            {{ if .HasChildren }}
            {{ range .Children }}
            <li class="rounded-sm px-3 py-1 hover:bg-gray-100"> <a class="hover:text-hovered-colors nav-list-dropdown-color " href="{{ .URL }}">
                {{ .Name }}
              </a>
            </li>
            {{ end }}
            {{ end }}
          </ul>
        </div>
        {{ end }}
      </div>
    </div>
    <div class="hidden md:flex py-4 text-right items-center">Twitter Medium Telegram</div>
    <div class="md:hidden flex py-4 items-center">
      <button class="mobile-menu-button">
        <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" className="h-6 w-6" fill="none" viewBox="0 0 24 24"
          stroke="currentColor">
          <path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2} d="M4 6h16M4 12h16M4 18h16" />
        </svg>
      </button>
    </div>
  </div>



  <!-- mobile menu -->
  <div class="mobile-menu md:hidden">
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
    <div>
      <a class="block py-2 px-4 text-sm hover:text-blue-400 transition duration-500 " href="{{ .URL | absLangURL }}">{{ .Name }}</a>
    </div>
    {{ end }}
  </div>

</nav>