		<!-- hero -->
    {{ with .Params.banner }}
    <!-- py-40 -->
<div class="flex w-full bg-cover bg-no-repeat bg-center h-500 " style="background-image: url({{ . | relURL}})">
  {{ end }}
</div>
<div class="bg-blue-200">
<div class=" flex flex-wrap flex-end flex-col rounded-t ml-24">
  {{ with .Params.title }}
  <div>
    <h1 class="text-4xl font-bold mt-8 px-4 py-4" >{{ . }}</h1>
  </div>
  {{ end }}
  {{ with .Params.description }}
  <div> <p class="text-xl px-4 pb-8 py-4">{{ . }}</p></div>
  {{ end }}
</div>
</div>
<!-- /hero -->
