{{ $pag := $.Paginator }}
<div class=" flex bg-gray-600">
    <!-- pagination -->
        <div class="py-6 pl-28 px-4 ">
            <!--First page-->
            {{ with $pag.First }}
			{{ if $pag.HasPrev }}<a href="{{ .URL }}">{{end}}<button class="rounded  px-3 py-3 {{ if not $pag.HasPrev }} disabled:opacity-50  bg-gray-500 cursor-not-allowed {{else}}bg-gray-300 hover:bg-gray-400{{ end }}"  {{ if not $pag.HasPrev }} disabled {{ end }} aria-label="{{ i18n "firstPage" }}"> <div> {{ i18n "firstPage" }}</div> </button> {{ if $pag.HasPrev }} </a> {{end}}
            {{ end }}                 
        </div>
        <!--Prev page--> 
        <div class="py-6 px-4 pr-12">     
            {{ if $pag.HasPrev }}<a href="{{ $pag.Prev.URL }}">{{ end }} <button class=" rounded {{ if not $pag.HasPrev }} bg-gray-500 disabled:opacity-50 cursor-not-allowed  {{else}} bg-gray-300  hover:bg-gray-400 {{ end }}" {{ if not $pag.HasPrev }} disabled{{ end }} aria-label="{{ i18n "previousPage" }}"><div class="rounded px-3 py-3">{{ i18n "previousPage" }}</div> {{ if $pag.HasPrev }}</a>{{end}}
        </div>

        <!-- listes pages-->
    	
            {{ if gt $pag.TotalPages 1 }}
            {{ $ellipsed := false }}
            {{ $shouldEllipse := false }}
            {{ range $pag.Pagers }}
            {{ $right := sub .TotalPages .PageNumber }}
            {{ $showNumber := or (le .PageNumber 3) (eq $right 0) }}
            {{ $showNumber := or $showNumber (and (gt .PageNumber (sub $pag.PageNumber 2)) (lt .PageNumber (add $pag.PageNumber 2)))  }}
            {{ if $showNumber }}
                    {{ $ellipsed = false }}
                    {{ $shouldEllipse = false }}
            {{ else }}
                    {{ $shouldEllipse = not $ellipsed }}
                    {{ $ellipsed = true }}
            {{ end }}
            <div class="py-6 px-4"> 
            {{ if $showNumber }}

            {{ if ne . $pag }} <a href="{{ .URL }}">{{end}} <button class=" rounded  {{ if eq . $pag }} bg-gray-500 disabled:opacity-50 cursor-not-allowed  {{else}} bg-gray-300 hover:bg-gray-400 {{ end }}" {{ if eq . $pag }} disabled{{ end }} aria-label="{{ .PageNumber }}"><div class="rounded px-3 py-3">{{ .PageNumber }}</div>  {{ if ne . $pag }}</a> {{end}}
            {{ else if $shouldEllipse }}
            {{ end }}
            </div>
            {{ end }}
            {{ end }}
        
        
        <!--Next page-->
        <div class="py-6 px-4 pl-12">     
            {{ if $pag.HasNext }}<a href="{{ $pag.Next.URL }}">{{ end }} <button class=" rounded {{ if not $pag.HasNext }} disabled:opacity-50 cursor-not-allowed bg-gray-500 {{else}}bg-gray-300 hover:bg-gray-400 {{ end }}" {{ if not $pag.HasNext }} disabled{{ end }} aria-label="{{ i18n "nextPage" }}"><div class="rounded px-3 py-3">{{ i18n "nextPage" }}</div>{{ if $pag.HasNext }}</a>{{end}}
        </div>
        {{ with $pag.Last }}
        <div class="py-6 px-4">     
            {{ if $pag.HasNext }} <a href="{{ .URL }}">{{ end }} <button  class=" rounded {{ if not $pag.HasNext }} disabled:opacity-50 cursor-not-allowed  bg-gray-500{{else}}bg-gray-300 hover:bg-gray-400 {{ end }}" {{ if not $pag.HasNext }} disabled{{ end }} aria-label="{{ i18n "lastPage" }}"><div class="rounded px-3 py-3">{{ i18n "lastPage" }}</div>{{ if $pag.HasNext }} </a>{{ end }}
        </div>
        {{ end }}
    <!-- pagination -->
    </div>

               
