<div class=" flex  flex-wrap bg-grey-100 justify-between px-48 py-6">
    {{ with .NextInSection }}

	<a href="{{ .Permalink }}"> <div class=" py-4 px-4 rounded bg-gray-300 hover:bg-gray-400 ">{{ i18n "previousPage" }}: {{ .Title }}</div></a>
	{{ else }}
	<div class=" py-4 px-4 rounded bg-gray-500 disabled:opacity-50 cursor-not-allowed " disabled>{{ i18n "previousPage" }}</div>
  
	{{ end }}
	{{ with .PrevInSection }}
	<a href="{{ .Permalink }}"><div class=" py-4 px-4 rounded bg-gray-300 hover:bg-gray-400 ">{{ i18n "nextPage" }}: {{ .Title }}</div></a>
	{{ else }}
	<div class=" py-4 px-4 rounded bg-gray-500 disabled:opacity-50 cursor-not-allowed " disabled>{{ i18n "nextPage" }}</div>
	{{ end }}
</div>